body {
  outline: 5px solid #7DB54F;
}
.container {
  outline: 5px solid #4f9fb5;

}

.header,
.hero,
.filters,
.catalog
 {
  outline: 5px solid red;

}

.navigation,
.hotel-item {
  outline: 5px solid blue;
}

.hotels-list {
  outline: 5px solid green;
}

.subscribe {
    outline: 5px solid violet;

}
