/*===================== шрифты ===========================*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*===================== *** ===========================*/
html {
  height: 100%;
  /* нужно для стики-футера*/
}

body {
  min-width: 1200px;
  margin: 0;

  min-height: 100%;
  /* нужно для стики-футера*/
  display: flex;
  /* нужно для стики-футера*/

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #F2F2F2;
}

/*===================== сброс ===========================*/

.nav-list,
.nav-user,
.qulaity-list,
.footer-social,
.breadcrumbs,
.filter-list,
.card-view-buttons,
.hotels-list,
.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-title,
.title-lead,
.subtitle,
.title-card,
.text,
.phone-text,
.hotel-title,
.hotel-price,
.hotel-type,
.rating-text {
  margin: 0;
}

/*===================== шрифты ===========================*/

.main-title {
  /*  h1   */
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;

}

.title-lead {
  /*  h2   */
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.subtitle {
  /*  p   */
  font-size: 22px;
  line-height: 26px;
}

.title-card {
  /*  h3   */
  margin-bottom: 62px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.phone-text {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.block {
  display: block;
}

.button,
.select-control {
  font-family: inherit;
}


/*================= общие стили ===========================*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;

  min-height: 100%;
  /* нужно для стики-футера*/
  display: flex;
  /* нужно для стики-футера*/
  flex-direction: column;
  /* нужно для стики-футера*/

  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 10px 15px #cdcccc;
}

/*===================== кнопки ===========================*/
.button {
  padding: 8px 34px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
}

.button-color {
  background-color: #756157;
}

.button-select {
  background-color: #7DB54F;
}

.button-light {
  background-color: transparent;
}

.button-link {
  text-decoration: none;
}

/*===================== heder ===========================*/
.main-header {
  display: flex;
  padding: 0 70px;
}

.main-logo {
  position: relative;
  display: block;
  margin-right: 30px;
  margin-bottom: -6px;
}

.main-logo-img {
  display: block;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  min-width: 340px;
}

.nav-user {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  min-width: 88px;
  margin-right: 20px;
}

.nav-wrapp {
  display: flex;
  align-items: center;
}

.nav-item {
  flex-grow: 1;
}

.nav-link {
  display: block;
  padding: 20px 14px;

  min-width: 20px;
  min-height: 20px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-between;

  flex-grow: 1;
}

.favorit-page {
  display: block;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;

  border-radius: 50%;
  color: #ffffff;
  background-color: #7DB54F;
}

/*===================== hero ===========================*/
.main-index,
.inner-main {
  flex-grow: 1;
  /* нужно для стики-футера*/
}


.hero {
  display: flex;

  padding: 0 70px;

  color: #ffffff;
  background-color: #467AA9;
  background-image: url(../img/background/decor-corner.svg),
    url(../img/background/index-background.jpg);
  background-size: 100% auto, 100%;
  background-repeat: no-repeat;
  background-position: bottom, center;
}


.hero-img {
  display: block;
  margin: 51px auto 82px;
}

/*==================== advantages  =======================*/

.advantages,
.service {
  text-align: center;
}

.adv-wrapp {
  padding: 69px 260px;
  margin-bottom: 21px;
}

.qulaity-list {
  display: flex;
  flex-wrap: wrap;
}

.qulaity-list-wide .qulaity-item {
  color: #ffffff;
  background-color: #83B3D3;
}

.qulaity-item {
  box-sizing: border-box;
  padding: 81px 80px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  justify-content: center;
  align-items: center;

  width: 400px;
  min-height: 385px;

  background-color: rgba(130, 179, 212, 12%);
}

.qulaity-img {
  display: block;
}

.qulaity-list-wide .title-card {
  color: #ffffff;
}

.qulaity-list-wide {
  width: 1200px;
  display: flex;
}

.advantages li.qulaity-item:nth-of-type(odd) {
  background-color: rgba(130, 179, 212, 20%);
}

/*================== service ===========================*/
.servise-wrapp {
  padding: 64px 340px;
}

.service li.qulaity-item:nth-of-type(even) {
  background-color: #ffffff;
}

/*===================== search ===========================*/
.search {
  text-align: center;
}

.search-wrapp {
  padding: 96px 300px;
}

.search .subtitle {
  margin-bottom: 54px;
}


.search .button,
.subscribe-form .button {
  padding-left: 50px;
  padding-right: 50px;

}


/*================ subscribe ===========================*/

.subscribe {
  padding: 96px 258px 104px;

  text-align: center;
}

.subscribe-main {
  color: #ffffff;
  background-color: #467AA9;
  /* цвет для фона просто взят с фоновой картинки пипеткой*/
  background-image: url(../img/background/bg_subscribe.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.subscribe-main .title-lead {
  color: #ffffff;
}

.subscribe .subtitle {
  margin-bottom: 54px;
}

.subscribe-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:10px 0;

  /*красный цвет и 44рх поставлены для наглядности
  - ??? - почему элементы выпадают из формы с закругленными краями?*/
  border-radius: 4px;
  overflow: hidden;

}

.input-mail {
  box-sizing: border-box;
  min-width: 452px;
  display: inline;

  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
}

.subscribe-form .button {

  flex-grow: 1;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0;
}

/*========+++++++++++++footer-footer =====================*/
.footer-wrapp {
  display: grid;
  grid-template-columns: 150px 720px 115px;
  gap: 40px;
  text-align: center;

  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 40px 70px 30px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  max-width: 150px;
}

.social-link {
  display: block;
  padding: 12px 12px;
  min-width: 24px;
  min-height: 17px;
}

.htmlacademy-link,
.htmlacademy-link-img {
  display: block;
}


/*===================== CATALOG ===========================*/
.filters {
  padding: 35px 70px 70px;

  color: #ffffff;
  background-color: #467AA9;
  background-image: url(../img/background/bg_filter.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.filters .main-title {
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  gap: 70px;
}

.filter-title {
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-group {
  border: none;
  padding: 0;
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter-wrapp {
  display: flex;
  gap: 70px;

  margin-left: 140px;
}

.filter-btn-wrapp {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: end;
}

.wrap-sort {
  display: flex;
  padding: 50px 0 40px;
}

.wrap-sort .title-lead {
  margin-right: 200px;
  margin-bottom: 0;
  flex-grow: 1;
}

.select-control {
  box-sizing: border-box;
  min-width: 292px;
  max-height: 48px;
  padding: 8px 20px;
  margin-right: 70px;

font-size: 18px;
line-height: 21px;
color: #333333;

  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-view-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card-button {
  padding: 17px 16px;
  min-width: 16px;
  min-height: 14px;

}

/*===================== каталог ===========================*/

.catalog {
  padding: 0 70px;
}

.hotels-list {
  /* display: flex;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  /* из-за бордера в карточках появилось 6 лишних пикселей - (20+20 -6)/2 = 17*/
}

.hotel-item {
  box-sizing: border-box;
  /* width: 340px; */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-direction: column; */
  gap: 16px;

  border: 1px solid #E6E6E6;
  /* можно ли аутлайн вместо бордера, чтобы паддинги остались 20*/

  border-radius: 4px;
}

.hotel-link {
  text-decoration: none;
}

.btn-card {
  text-align: center;
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  width: 140px;
}

.hotel-type,
.rating-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}


.hotel-img {
  display: block;
  margin-bottom: 16px;
}

.hotel-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px;
}

.rating-text {
  padding-top: 9px;
  padding-bottom: 9px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;

  border-radius: 4px;
}

.pagination {
  display: flex;
  gap: 8px;
  padding: 40px 0 60px;
}

.pag-link {
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;

  padding: 11px 11px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.pag-disabled {
  color: #000000;
  background-color: #F2F2F2;
}

.input-mail-inner {
  background-color: #F2F2F2;
}
