/*===================== шрифты ===========================*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/*===================== сброс ===========================*/

.nav-list,
.nav-user {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-title,
.title-lead,
.subtitle,
.title-topic,
.phone-text
 {
  margin: 0;
}

/*===================== шрифты ===========================*/
body {
  min-width: 1200px;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #F2F2F2;
}

.main-title {
  /*  h1   */
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;

}

.title-lead {
  /*  h2   */
margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.subtitle {
  /*  p   */
  font-size: 22px;
  line-height: 26px;
}

.title-topic {
  /*  h3   */
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.phone-text {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}



/*===================== общие стили ===========================*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-top: 50px;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 10px 15px #cdcccc;
}
/*===================== кнопки ===========================*/
.button {
  font-family: "PT Sans", sans-serif;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.button-color {
  background-color: #756157;
}

.button-select {
  background-color: #7DB54F;
}

.button-light {
  background-color: transparent;
}

.button-link {
  text-decoration: none;
}

/*===================== heder ===========================*/
.main-header {
  display: flex;
  padding: 0 70px;
}

.main-logo {
  display: block;
  margin-right: 30px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 340px;
}

.nav-user {
  display: flex;
  flex-wrap: wrap;
  min-width: 88px;
}

.nav-wrapp {
display: flex;
}

.nav-link {
  display: block;
padding: 20px 16px;

min-width: 20px;
min-height: 20px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 285px;
}

.favorit-page {
  color: #ffffff;
  background-color: #7DB54F;
}

/*===================== hero ===========================*/

.hero {
  display: flex;

  color: #ffffff;
  background-color: #467AA9;
  background-image: url(../img/background/decor-corner.svg),
    url(../img/background/index-background.jpg);
  background-size: 100% auto, 100%;
  background-repeat: no-repeat;
  background-position: bottom, center;
}


.hero-img {
  display: block;
  margin: 51px auto 82px;
}


/*========= advantages & service ===========================*/

.advantages,
.service {
  text-align: center;
}


.service {
  padding-top: 64px;
}

.adv-wrapp {
  padding: 69px 270px;
  margin-bottom: 21px;
}


/* .qulaity-list {
  padding: 0;
} */

/*
.qulaity-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
} */

.qulaity-item {
  /* width: 400px; */

  background-color: rgba(130, 179, 212, 10%);
}

/*
.qulaity-item-wide {
  width: 1200px;
} */

.qulaity-item-20 {
  background-color: rgba(130, 179, 212, 20%);

}

.qulaity-item-wide .title-topic {
  color: #ffffff;
}

.qulaity-item-wide {
  color: #ffffff;
  background-color: #83B3D3;
}

/*===================== search ===========================*/
.search {
  text-align: center;
  /* padding: 96px 0; */
}

/*===================== subscribe ===========================*/

.subscribe {
  /* padding: 96px 0 104px; */

  text-align: center;
}

.subscribe-main {
  color: #ffffff;
  background-color: #467AA9;
  /* цвет для фона просто взят с фоновой картинки пипеткой*/
  background-image: url(../img/background/bg_subscribe.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.subscribe-main .title-lead {
  color: #ffffff;
}

.footer-wrapp {
  display: flex;
  /* justify-content: space-between;
  padding: 40px 70px 30px; */
}

.phone-text {
  width: 720px;
  text-align: center;
}

/*===================== CATALOG ===========================*/
.filters {
  /* padding: 35px 70px 70px; */

  padding: 0 70px;

  color: #ffffff;
  background-color: #467AA9;
  background-image: url(../img/background/bg_filter.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter {
  display: flex;
}

/*
.filter-group {
  border: none;
}
*/

.select-control {
  font-family: "PT Sans", sans-serif;
}

.catalog {
  /* padding: 50px 70px 60px; */
  padding: 0 70px;

}
/*
.wrap-sort {
  display: flex;
} */

.hotel-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}
/*
.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;


  display: flex;
  flex-wrap: wrap;
  gap: 20px;

} */

.rating-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.hotel-item {
  width: 340px;
}
/*
.pagination {
  display: flex;
} */
